.section{
     background: linear-gradient(#d5e79d,#6c715f);
     /*
    width: 100vw;
    height: 100vh; */
    position: relative; 
    width: 100vw;
    min-height: 100vh;
    /* background: url(https://global-uploads.webflow.com/5d9d02c4b01a536c7d5d4a35/5e83776fbc21657cbbdb8ef1_customer-bg.svg); */
    /* background-size: auto; */
    background-repeat: repeat;
    position: relative;
    /* background-position: 100px -400px; */
    /* animation: App-logo-spin infinite 60s linear; */


}
@keyframes App-logo-spin {
    0% {
      background-position: -1300px -450px;
    }
    50% {
      background-position: -2500px -450px;
    }
    100% {
      background-position: -1300px -450px;
    }
  }
.form{
    width: 40%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
    display: flex;
    gap: 24px;

}
.form label{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    
}
.form input{
    display: block;
    width: 100%;
    margin-top: 7px;
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    border: none;
}
.form textarea{
    display: block;
    width: 100%;
    margin-top: 7px;
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    border: none;
}
.button-container{
    width: 100%;
  
}
.form button{
    margin: 0 auto;
    color: #ffffff;
    background-color: #030357;
    font-size: 20px;
    padding: 6px 24px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    
}
.form button:hover{
    background-color: #24248a;
}
.form div{
    width: 100%;
}

@media (max-width:700px) {
    .form{
        width: 80%;
    }
}

@media (max-width:500px) {
    .form{
        width: 90%;
    }
   
}