*{
margin: 0;
padding: 0;
}

.start-btn{
    position: absolute;
    top: 20rem;
    text-align: center;
    padding:40px 1100px;
    display: inline-block;
    text-decoration: none;
    
}
.header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #dcc0dc;  
    margin-bottom: 20px;
    justify-content: space-between;
}
.logo-container{
    display: flex;
}
.header h2{
    margin-left: 60px;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: -50px;
}
.button-container{
    display: flex;
   
    /* width: 300px; */
    
}
.AddDetail-btn{
    
    padding: 0.5rem 1rem;
    background-color: #040451;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0.7rem;
    font-weight: bolder;
    font-size: 1.05rem;
    margin-right: 20px;

}

.car-list{
    background-color: #ebe0e4 ;
}
.filter{
    margin-left: 30px;
}
.filter select{
    background: #040451;
    color: #ffffff;
    width: 130px;
    height: 40px;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 1.2px;
    border-radius: 8px;
    border: none;
}
.filter option{
    background: #040451;
    color: #ffffff;
    
}